.facewarp_header{
    text-align: center; margin: 2rem 0;
}

.facewarp_footer{
    text-align: center; margin-top: 2rem;
}

.facewarp_footer_btns{
    font-size: .6rem;
}

.facewarp_logo{
    font-family : 'Bebas Neue', cursive;
}

